<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Welcome to cprox!</h1>
    <ul>
        <%- key_value_pairs.each do |kvp| -%>
            <li><%= kvp[0] %> = <%= kvp[1] %></li>
        <%- end -%>
    </ul>

    <h2>Add a new URL</h2>
    <form action="/addurl" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">URL Code</label>
            <input type="text" name="code" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">URL</label>
            <input type="text" name="url" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Search for a URL</h2>
    <form action="/search_form" method="GET">
        <div class="form-group">
            <label for="exampleInputEmail1">URL Code</label>
            <input type="text" name="code" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</body>
</html>